.principal{background: #ACFFAA; font-size: 50px;text-align: center;}
.columnas{column-count: 3;background: #ACFFAA;text-align: center;text-transform: uppercase;}
.fotos{padding-left: 385px;}
.imagenflotante1{float: left;margin-right: 10px;
}
.imagenflotante2{float: right;margin-left: 10px;margin-bottom: 10px;}
div{margin-top: 30px;margin-bottom: 30px;}
.inicio{text-align: center;}
h1{
	background;text-align: center;font-family: didot;
}
h3{font-family: Brush Script MT; background: 50px 50px font-size:45px;}
.bloque1{margin-left: 375px;margin-right: 375px;}
.bloque2{margin-left: 60px;margin-right: 60px;}
.receta{background: #ACFFAA;margin-right: 360px;margin-left: 360px;}
.flotante3{float: right;margin-right: 450px;}
